.content-info {
	background: #111;
	padding-top: 30px;
	padding-bottom: 30px;
	
	.nav-footer {
		.nav {
			list-style: none outside;
			margin: 0;
			padding: 0;
			text-align: center;
			
			li {
				display: inline-block;
			}
		}
	}
}