.woocommerce,
.woocommerce-page {
	.images {
		display: none;
	}
	
	.product .summary {
		float: left !important;
		width: auto !important;
	}

	table.shop_table {
		margin: 0 0 25px 0;
		text-align: left;
		border-collapse: separate;
		border-radius: 0;
		background: #fff;
		color: #333;
		font-size: 1.1em;

		td {
			border: none;
		}

		.tm-epo-cart-row-header {
			background: #f8f8f8;
		}
	}

	.cart-collaterals {

		.cart_totals {
			width: 28%;

			.shop_table_responsive {
				float: none !important;
				width: 100% !important;
			}
		}
	}
}

.woocommerce-cart {
	table.cart {
		th {
			padding: 1.68em;
		}
		td {
			padding: 1.68em;
		}
		.actions {
			padding-top: 20px;
		}
	}
}